.App {
  text-align: center;
  /* font-family: 'Montserrat'; */
  font-family: "Noto Sans KR", sans-serif;
}

/* src폴더에 넣었으면 상대경로로 부르기 */
.main_banner{
  height: 300px;
  background-size: cover;
  background-position: center;
  /* background-image: url(./banner.webp); */
}

.item-img{
  width: 80%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.prd_img_detail{
  /* width: 500px;
  height: 500px; */
}

.prd_img_detail img{
  width: 100%;
  height: 100%;
}

.prd_wrap{
  justify-content: space-between;
}

.prd_info_detail{
  text-align: left;
  margin-top: 100px;
}

.prd_info_detail h4{
  font-size: 36px;
  font-weight: bold;
}

.prd_info_detail .btn-primary{

}

.navbar-brand{
  cursor: pointer;
}

.carousel{
  height: 500px;
}

#MainBanner .carousel-indicators button{
  position: relative;
  width: 60px;
  height: 5px;
}

#MainBanner .carousel-indicators button::before{
  content: "";
  display: block;
  width: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ff6666;
  transition: 0.36s linear;
}

#MainBanner .carousel-indicators .active::before{
  animation: w100 4.8s 0s linear forwards;
  /* width: 100%; */
}

@keyframes w100 {
  100%{width: 100%;}
}

