.App {
  text-align: center;
  /* font-family: 'Montserrat'; */
  font-family: "Noto Sans KR", sans-serif;
}

ul,li,ol,dl{
  list-style: none;
}

.fs-20{
  font-size: 20px;
}

#load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #f5edd5;
}

.pen{
  position: relative;
}

.pen::before,
.info-pen::before{
  content: " ";
  display: block;
  position: absolute;
  right: 0; bottom: 0; left: 0;
  background: #fcd055;
  z-index: -1;
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
  height: 43%;
}

@keyframes pen {
  100%{transform: scaleX(1);}
}

.info-pen{
  position: relative;
}

.info-pen::before{
  animation: pen 0.5s ease-in forwards;
}

.pen.active::before{
  transform: scaleX(1);
}

/* src폴더에 넣었으면 상대경로로 부르기 */
.main_banner{
  height: 300px;
  background-size: cover;
  background-position: center;
  /* background-image: url(./banner.webp); */
}

.cont{
  margin-top: 110px;
  /* height: 100vh; */
}

.item-img{
  width: 80%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.prd_img_detail{
  /* width: 500px;
  height: 500px; */
}

.prd_img_detail img{
  width: 100%;
  height: 100%;
}

.prd_wrap{
  justify-content: space-between;
}

.prd_info_detail{
  text-align: left;
  margin-top: 100px;
}

.prd_info_detail h4{
  font-size: 36px;
  font-weight: bold;
}

.prd_info_detail .btn-primary{

}

.Navi{
  z-index: 999;
  transition: 0.4s linear;
}

.Navi .nav-link{
  color: #282c34;
  transition: 0.3s ease;
}

.Navi .nav-link:hover{
  color: #ee9419;
}

.Navi.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffffbb;
}

.navbar-brand{
  cursor: pointer;
}

.navi-right a:hover img{
  animation: rotation 1s linear forwards alternate;
}

@keyframes rotation {
  100%{transform: rotateY(360deg);}
}

.carousel{
  /* height: 500px; */
}

#MainBanner .carousel-item{
  height: 520px;
}

#MainBanner .carousel-indicators{
  left: 0;
  right: inherit;
  bottom: calc(66% - 45px);
  margin-left: 138px;
}

#MainBanner .carousel-indicators button{
  position: absolute;
  width: 5px;
  height: 90px;
  visibility: hidden;
}

#MainBanner .carousel-indicators button::before{
  content: "";
  display: block;
  width: 100%;
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #ff6666;
  transition: 0.36s linear;
}

#MainBanner .carousel-indicators .active{
  visibility: visible;
}

#MainBanner .carousel-indicators .active::before{
  animation: h100 4s 0s linear forwards;
  /* width: 100%; */
}

@keyframes h100 {
  100%{height: 100%;}
}

#MainBanner .carousel-control-prev-icon,
#MainBanner .carousel-control-next-icon{
  background: none;
}

.carousel-item img{
  object-fit: contain;
  height: 100%;
}

.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
    z-index: 1;
}

.bg::before{
  content: "";
  display: block;
  height: 100%;
  width: 1600px;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30%);
}

.carousel-item.active .bg::before{
  animation: fadeIn 0.5s 0s linear forwards;
}

@keyframes fadeIn {
  100%{opacity: 1;visibility: visible; transform: none;}
}

.Main_01 .bg::before{
  background: url(../public/img/Main_key1.png) no-repeat;
  background-position: right;
  background-size: contain;
}

.Main_02 .bg::before{
  background: url(../public/img/Main_key2.png) no-repeat;
  background-position: right;
}

.Main_03 .bg::before{
  background: url(../public/img/Main_key4.png) no-repeat;
  background-position: right;
  background-size: contain;
  width: 1480px;
}

.Main_04 .bg::before{
  background: url(../public/img/Main_key5.png) no-repeat;
  background-position: right;
  background-size: contain;
}

.in_left{
  

}

.des{
  top: 32%;
  left: 80px;
  z-index: 1;
}

.des h4{
  font-weight: bold;
  font-size: 3rem;
}

.des p{
  font-size: 17px;
}

.pbt{
  /* background: #fcfcfc; */
}

.step{
  /* background: linear-gradient(90deg, #fafafa 100%, #f9f9f9 100%); */
}

.cus{
  background: #fde5a5;
  height: 250px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jump{
  animation: jump 1s ease-in-out infinite alternate
}

@keyframes jump {
  100%{transform: translateY(20%);}
}

.step::after{
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background: #f3f3f3;
}

.Bestswipe .swiper-slide h4,
.item h4{
  font-size: 17px;
}

.item{
  cursor: pointer;
}

.item-img,
.item h4,
.item p{
  transition: 0.32s ease;
}

.item-cont{
  overflow: hidden;
}

.item:hover .item-img{
  transform: scale(1.2);
}

.item:hover h4,
.item:hover p{
  color: #ee9419;
}

.swiper-scrollbar{
  height: 5px;
  background: #f7f7f7;
}

.Bestswipe .swiper-button-prev,
.Bestswipe .swiper-button-next{
  background-color: #f4f4f4;
  color: #373737;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.Bestswipe .swiper-button-prev::after,
.Bestswipe .swiper-button-next::after{
  font-size: 30px;
}


.Bestswipe .swiper-button-prev:hover::after,
.Bestswipe .swiper-button-next:hover::after{
  animation: move 1s linear infinite alternate;
}

@keyframes move {
  0%{
    transform: none;
  }
  100%{
    transform: translateX(50%);
  }
}

.tab a{
  color: #282c34;
  font-size: 1rem;
  text-decoration: none;
  background: #f3f3f3;
  transition: 0.3s ease-in;
}

.tab a:hover{
  background: #ee9419;
  color: #fafafa;
}

.table_h{
  line-height: 50px;
  background: #fcfcfc;
  border-bottom: 1px solid #999;
}

.t_wrap td{
  line-height: 50px;
}

.t_wrap tbody{
  border-bottom: 1px solid #f7f7f7;
}

.foot{
  margin-top: 90px;
  background: #ccc;
}

.foot_r .fr_b{
  font-size: 11px;
}

.foot-m li,
.foot-l li{
  font-size: 14px;
}

.foot-m h5,
.foot-l h5{
  font-size: 16px;
}

.fr_t li{
  margin-right: 20px;
}

.fr_t li:nth-child(4n){
  margin-right: 0;
}

.main-cus{
  /* height: 300px;
  background: #ee9419; */
}

.flow_wrap{
  width: 250px;
  height: 80px;
  justify-content: space-between;
}

.main_text{
  align-items: center;
  margin-top: -200px;
}

.main_text p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow{
  width: 150px;
  height: 80px;
}

.chuk{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-radius: 6px;
}

.autoSwiper, .flow{
  pointer-events: none;
}

.des-img-box{
  overflow: hidden;
  height: 600px;

}



.des-img-top{
  background: url(/public/img/cherry.png) no-repeat;
  width: 100%;
  height: 100%;
  background-position: right;
}

.des-img-bottom{
  /* background: url(/public/img/cherry02.png) no-repeat; */
  width: 100%;
  height: 100%;
  background-position: left;
  background-size: cover;
}

.scale{
  animation: scale 20s linear infinite alternate;
}

@keyframes scale {
  100%{transform: scale(1.1);}
}

.total_l{
  padding: 10px 30px;
  border-bottom: 1px solid #999;
}

.prd_info_detail{
  padding-left: 100px;
}

.prd_info_detail .btn-warning{
  background: linear-gradient(90deg, #fff 50%, #fcd055 50%);
  background-size: 203%;
  background-position: left;
}

.prd_info_detail .btn-warning:hover{
  background-position: right;
}

.prd_info_detail .btn{
  width: 100%;
  height: 50px;
  transition: 0.36s ease-in;
}

.prd_info_detail .btn:focus{
  border: 1px solid #ee9419;
  font-size: small;
  transform: scale(0.98);
}

.select_box{
  border: 1px solid #fcd055;
}

#switch{
  width: 200px;
  padding: 5px;
  background: #f7f7f7;
  border: none;
  outline: none;
  color: #282c34;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance : none;
}

.select_img{
  top: 50%;
  right: 10px;
  width: 100%;
  height: 100%;
}

#switch:focus + .select_img img{
  transform: rotate(180deg);
}

#switch option{
  color: #6f6e6e;
  width: 110%;
}

.prd_mount{
  width: 30px;
  height: 30px;
  text-align: center;
}

.accordion-button:focus,
.accordion-button:not(.collapsed){
  font-weight: bold;
  box-shadow: none;
  color: #ee9419;
  background: #fafafa;
}

.accordion-button:focus:after,
.accordion-button:not(.collapsed):after{
  background: #ee9419;
  border-radius: 50%;
}

.about_bg{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
  overflow: hidden;
}

.map::before{
  content: "";
  display: block;
  position: absolute;
  background: url(/public/img/mark.svg) no-repeat;
  width: 30px;
  height: 30px;
  /* background-size: 20px; */
  top: calc(45% - 15px);
  left: calc(50% - 15px);
  animation: jump 1s linear infinite alternate;
}

.ti::before{
  content: "";
  display: block;
  width: 5px;
  height: 15px;
  background: #ee9419;
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.cus .ti::before{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 10px;
}

.my_button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.my_button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.my_button:active {
  transform: scale(0.95);
}

#pop{
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 250px;
  height: 150px;
  animation: tada 0.3s linear forwards;
  border-radius: 10px;
  border-top: 10px solid #ee9419;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

@keyframes tada {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.pop-btn{
  top: 0;
  right: 0;
  padding: 0 5px;
  background: none;
  border: none;
}

#pop .my_button{
  font-size: small;
  padding: 10px 15px;
}